@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select {
  font-family: "Alex Brush", cursive;
}

a {
  color: inherit;
  text-decoration: none;
  outline: lightgrey;
}
